<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- React and Babel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
    <script src="https://unpkg.com/react@16.13.0/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16.13.0/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    
    
    
</head>
<body>

    
    
    <!-- Include the page's content with this block. -->
    {% block body %}
        <div id="app"></div>
        <!-- <div id="homepage"></div>
        <br>
        <div id="mood-form"></div>
        <br>
        <div id="habit-form"></div>
        <br>
        <div id="comparison-form"></div>
        <br>
        <div id="comparison-chart"></div> -->
    {% endblock %}
    
    <!-- Include any page-specific Javascript using this block. -->
    {% block js %}
        <script src="/static/js/homepage.jsx" type="text/jsx"></script>
        <script src="/static/js/components.jsx" type="text/jsx"></script>
        <script src="/static/js/moods.jsx" type="text/jsx"></script>
        <script src="/static/js/habits.jsx" type="text/jsx"></script>
        <script src="/static/js/comparison.jsx" type="text/jsx"></script>
        <script src="/static/js/app.jsx" type="text/jsx"></script>
    {% endblock %}
    
</body>
</html>